*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

.d-flex {
  display: flex;
}

/* Path: Module 3\crypto-app\src\components\Header.css */

.header {
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2rem;
  gap: 1rem;
  height: 10vh;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.navLink {
  text-decoration: none;
  align-items: center;
  gap: 0.5rem;
  color: #000;
  font-size: 1.3rem;
  font-weight: 500;
}

.header img {
  width: 5vh;
  height: 5vh;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.icons {
  gap: 1rem;
  width: 10vh;
  height: 20px;
}

/* Path: Module 3\crypto-app\src\components\Home.css */

.stat-container {
  padding: 0.5rem 3rem;
  margin: 0.2rem;
}

.stats {
  padding: 0 3rem;
  justify-content: space-evenly;
}

.stats img {
  width: 20vh;
  height: 20vh;
  animation: spin 4s linear infinite;
}

.stats-data {
  flex-direction: column;
  padding: 0.5rem 0;
  gap: 1rem;
}

.stats h2 {
  font-size: 1rem;
}

.container {
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.search {
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  padding: 0.8rem;
  width: 30%;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search:focus {
  outline: none;
}

.search:hover {
  border: 1px solid #000;
}

.spinner {
  justify-content: center;
  align-items: center;
}

.card-container {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  gap: 1rem;
}

.card-container a {
  text-decoration: none;
  color: #000;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 0.8rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 3px 5px 0 rgba(253, 224, 224, 0.1);
}

.card:hover {
  box-shadow: 0 3px 5px 0 rgba(126, 124, 124, 0.5);
}

.card__container {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.card-header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}

.card-header h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.card-header img {
  width: 8vh;
}

/* Path: Module 3\crypto-app\src\components\Detail.css */

.container-detail {
  padding: 1rem 1rem;
}

.detail-header {
  justify-content: space-between;
  padding: 0.5rem 0.5rem 1rem;
}

.detail-header img {
  width: 15vh;
}

.detail-header h2 {
  font-size: 2rem;
  font-weight: 500;
}

.card-detail {
  flex-direction: column;
  width: 100%;
  padding: 0.2rem 0.8rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 3px 5px 0 rgba(253, 224, 224, 0.1);
}

.card-body-detail {
  justify-content: space-between;
}

.card-body-detail:nth-child(even) {
  background-color: #e0e0e0;
}

.card-body-detail a {
  text-decoration: none;
}

.card-title {
  font-size: 1.3rem;
  margin: 0.5rem;
}

@media screen and (max-width: 768px) {
  .stats {
    justify-content: space-evenly;
    gap: 2rem;
    padding: 1rem;
  }

  .search {
    width: 80%;
    font-size: 1rem;
  }

  .container {
    padding: 1rem 1rem;
  }

  .card-container {
    grid-template-columns: 48% 48%;
  }

  .card-body-detail {
    align-items: center;
    flex-direction: column;
  }

  .card-header h2 {
    font-size: 1rem;
    font-weight: 500;
  }

  .card-header img {
    width: 5vh;
  }
}
